* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
[tabindex]:focus {
    outline: 0 !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    text-align: left;
    color: #000;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
}

html {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

}

div, svg, img, video, article, aside, figcaption,
figure, footer, header, hgroup, main, nav, section {
    display: block;
}

b,
strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
}

sub {
    vertical-align: baseline;
}

sup {
    vertical-align: top;
}

a {
    cursor: pointer;
    color: #000099;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    text-decoration: underline;
}

a,
a:link,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
}

fieldset {
    display: block;
    min-width: 0;  /* because default is: min-width: -webkit-min-content; */
}

textarea,
button,
input {
    font-family: inherit;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    padding: 0;
    border: 0 none;
}

input[type='text'],
input[type='password'] {
    vertical-align: middle;
}

textarea {
    overflow: auto;
    resize: vertical;
}

input[type='text'],
input[type='password'],
input[type='number'],
textarea {
    font-family: inherit;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    text-align: inherit;
}

pre,
code,
kbd,
samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em;
}

pre {
    overflow: auto;
}

svg {
    overflow: hidden;
    cursor: inherit;
}

ul,
ol {
    list-style: none;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

template {
    display: none !important;
}
